{% extends "base.html" %}
{% load static %}

{% block contents %}
	<h1>{{page_title}}</h1>
	<p>Database latency: {{db_latency_ms|floatformat:2}} ms</p>
	<br>

	<br>
	{% for post in posts  %}
		<img src="{{post.image}}" width="100px"><br>
		{% if show_ciphertext %}
			<p>Nama ciphertext:</p>
			<pre style="white-space: pre-wrap; overflow-wrap: anywhere;">{{post.Nama}}</pre>
			<p>Alamat ciphertext:</p>
			<pre style="white-space: pre-wrap; overflow-wrap: anywhere;">{{post.Alamat}}</pre>
			<p>NIK ciphertext:</p>
			<pre style="white-space: pre-wrap; overflow-wrap: anywhere;">{{post.NIK}}</pre>
			<p>AES key terenkripsi Reed-Muller:</p>
			<pre style="white-space: pre-wrap; overflow-wrap: anywhere;">{{post.aes_key}}</pre>
		{% else %}
			Nama:<b>{{post.Nama}}</b>
			<p>Alamat:{{post.Alamat}}</p>
			<p>NIK:{{post.NIK}}</p>
		{% endif %}
	{% endfor %}
{% endblock contents %}
